{% extends '::base.html.twig' %}

{% block title %}Form. Introd. Datos{% endblock %}

{% block body %}
    <form method="post" action="{{ path(action) }}">
        1er Número: <input type="number" name="op1"><br>
        2nd Número: <input type="number" name="op2"><br>
        <input type="submit" value="Enviar">
    </form>
{% endblock %}